{% extends 'base.html' %}

{% block title %}글 작성{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">새 글 작성</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field.errors }}
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">글 작성</button>
            <a href="{% url 'posts:index' %}" class="btn btn-outline-secondary">취소</a>
        </form>
    </div>
</div>
{% endblock content %} 